/bin

.svn
.cvsignore
BUILD.txt
CHANGES.txt
JRE_VERSION_MIGRATION.txt
README.txt
*build.xml
*.template
/src
!/src/java
/contrib/analyzers
/contrib/ant
/contrib/benchmark
/contrib/collation
/contrib/contrib-build.xml
/contrib/db
/contrib/highlighter
/contrib/instantiated
/contrib/lucli
/contrib/memory
/contrib/misc
/contrib/queries
/contrib/queryparser
/contrib/regex
/contrib/remote
/contrib/snowball
/contrib/spatial
/contrib/spellchecker
/contrib/surround
/contrib/swing
/contrib/wikipedia
/contrib/wordnet
/contrib/xml-query-parser
/lib/
/index.html
/docs
